body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	font-size: 20px;
}

#top{
	height: 50px;
	background-color: #EEE;
	text-align: center;
}

#top_blue{
	height: 50px;
	background-color: #EEF;
	text-align: center;
}

#flow{
	height: 50px;
	text-align: center;
	font-size: 23px;
	border-bottom: 1px solid #EEE;
	margin: 10px;
}

.selected{
	font-weight: bold;
}

#content{
	text-align: center;
}

.instruction{
	width: 500px;
	display: inline-block;
	text-align: center;
}

.button:hover{
	opacity: 1;
}

.button{
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#37a3eb), to(#2181cf));
	background: -moz-linear-gradient(top, #37a3eb, #2181cf);
	text-shadow: rgba(0,0,0,0.2) 0 1px 0;
	-webkit-text-shadow: rgba(0,0,0,0.2) 0 1px 0;
	-moz-text-shadow: rgba(0,0,0,0.2) 0 1px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	padding: 10px 25px;
	font-size: 15px;
	font-weight: 400;
	cursor: pointer;
	overflow: visible;
	opacity: .8;
}

#browse{
	background: #FF8C00;
}

#create{
	background: #2181cf;
}

label{
	display: block;
	clear: both;
	margin-top: 20px;
}

#form-wrapper{
	display: block;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#formsubmit{
	display: block;
	clear: both;
	margin-top: 30px;
	padding: 5px 20px;
}

.create-1{
	display: none;
}

#conflicts{
	height: 400px;
	width: 200px;
	background-color: #FEE;
	position: absolute;
	top: 0px;
	left: 0px;
}

#detail{
	height: 400px;
	width: 400px;
	background-color: #EFE;
	position: absolute;
	top: 0px;
	left: 200px;
}

#map{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#timeline{
	width: 600px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#vis{
	width: 650px;
	height: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.title{
	height: 20px;
	padding: 10px;
	border: 2px solid gray;
}

#conflict-wrapper{
	display: block;
	width: 600px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: center;
	position: relative;
}

#conflict-list{
	height: 300px;
	width: 100%;
	overflow-y: scroll;
	font-size: 12px;
	text-align: left;
	margin: 0px;
}

#conflict-list ul{
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
}

#conflict-list li{
	margin: 2px;
	padding: 10px;
	border: 1px solid gray;
}