/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body{
	/*font-family:"Droid Serif", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
  font-family:"Armata",sans-serif;
  font-weight: 300;
  font-size: 20px;
  /*background-image:url('subtle_grunge.png');*/
  background-repeat:repeat-x;
  background-size: cover;
}
h1{
  font-size:45px;
}

/*a:link,a:visited{
  text-decoration: none;
  color:red;
}*/

#top{
  background-color: #FEE;
  text-align: center;
  position:relative;
  height:80px;
  font-size: 30px;
}

#top #logo{
	position: absolute;
	top: 20px;
	left: 80px;
}

#logo #image{
	position: absolute;
	display: block;
	width: 100px;
	height: 100px;
	top: 0px;
	left: 0px;
	
}

#top a{
	color: #000;
}

#top a:visited{
	color: #000;
}

#top a:hover{
	color: #000;
}

#top a:active{
	color: #000;
}



#top img{
  position:absolute;
  left:0px;
  top:8px;
  padding-left:15px;
}

#nav{
  display:inline;
  position:absolute;
  right:0px;
  margin-right:15px;
  line-height:40px;
}

#nav>a{
  font-family:"Geo",sans-serif;
  vertical-align:middle;
  padding:10px;
  color:red;
  text-decoration:none;
}


#nav a:link,#nav a:visited{
  text-decoration: none;
  color:#304054;
}

#nav a:hover{
  background-color:#83201a;
}

#nav a:hover{
  color:white;
}

#flow{
  text-align: center;
  font-size: 25px;
  font-family:"Armata",sans-serif;
  font-weight: bold;
  padding:15px 0px;
  height: 30px;
  background-color:#ebf8ff;
  color:#6a0f10;
  border-bottom: 1px solid #EEE;
  margin-bottom: 15px;
}

.selected{
	font-weight: bold;
}

#content{
	text-align: center;
	padding: 30px;
}

.instructions{
	display:block;
	font-size: 14px;
	margin-bottom: 25px;
}

.instruction{
	padding: 20px;
	width: 500px;
	display: inline-block;
	text-align: center;
	background-color: #FFF;
}

.button { /* base styles for all buttons */
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding: 8px 12px;
    border-radius: 3px; /* css3 */
    box-shadow: 1px 1px 8px #666; /* css3 */
    background-color: #f6f6f6; 
    cursor: pointer; /* makes the cursor a "hand" instead of a "pointer" */
      text-decoration:none;
}

.button:hover{
	opacity: 1;
}

#libname,#shareURL{
	height: 30px;
	width: 350px;
	font-size: 13px;
	margin-top: 10px;
}

#shareURL{
  margin-bottom:15px;
}
#libdesc{
	margin-top: 10px;
}

#browse{
	font-size: 15px;
}

#browse:hover{
	background: #c3d8f8;
}

#create{
	font-size: 15px;
}

#create:hover{
	background: #ffd4d4;
}

label{
	display: block;
	clear: both;
	margin-top: 20px;
}

#form-wrapper{
	display: block;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#formsubmit{
	display: block;
	clear: both;
	margin-top: 30px;
	padding: 5px 20px;
}

.create-2{
	display: none;
}

#conflicts{
	height: 400px;
	width: 200px;
	background-color: #FEE;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 2px solid gray;
}

#detail{
	height: 400px;
	width: 390px;
	background-color: rgba(240, 240, 240, .5);
	position: absolute;
	top: 0px;
	left: 210px;
	border: 2px solid gray;
}

#map{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#timeline{
	width: 600px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#legend{
	font-size: 15px;
	vertical-align: center;
}

#legend #red{
	width: 15px;
	height: 15px;
	background-color: #F00;
	display: inline-block;
	margin: 5px;
}

#legend #blue{
	width: 15px;
	height: 15px;
	background-color: #00F;
	display: inline-block;
	margin: 5px;
}

#legend #violet{
	width: 15px;
	height: 15px;
	background-color: #800080;
	display: inline-block;
	margin: 5px;
}

#legend #label{
	height: 20px;
	width: 30px;
	display: inline-block;
	margin-right: 50px;
}

#vis{
	width: 650px;
	height: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#country-input{
	height:30px; 
	vertical-align:middle;
	font-size: 13px;
	width:300px;
}

.title{
	height: 20px;
	font-size: 20px;
	padding: 10px;
	border: 2px solid gray;
}

#conflict-wrapper{
	display: block;
	width: 600px;
	height: 410px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: center;
	position: relative;
}

#conflict-list{
	height: 350px;
	width: 100%;
	overflow-y: auto;
	font-size: 12px;
	text-align: left;
	margin: 0px;
}

#conflict-list ul{
	list-style-type: none;
	margin: 0px;
	padding-left: 0px;
}

#conflict-list li{
	margin: 2px;
	padding: 10px;
	border: 1px solid gray;
}


#conflict-list li:hover{
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
}

#conflict-details{
  width: 100%;
  height: 300px;
  overflow-y: auto;
  font-size: 13px;
}

#conflict-footer{
  width: 100%;
  height: 50px;
  background-color: rgba(250, 250, 250, .5);
}

#conflict-name{
  font-size: 15px;
  font-weight: 600;
  margin: 10px;
}

#conflict-date{
  font-size: 13px;
  font-size: italic;
}

#conflict-vs{
  width: 100%;
  height: 50px;
  vertical-align: middle;
  position: relative;
  display: none;
}

#conflict-vs #allies{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 170px;
  text-align: right;
  margin-top: 15px;
  padding-right: 15px;
  display: block;
  overflow-y: auto;
}

#conflict-vs #enemies{
  position: absolute;
  top: 0px;
  left: 205px;
  height: 100%;
  width: 170px;
  text-align: left;
  margin-top: 15px;
  padding-left: 15px;
  display: block;
  overflow-y: auto;
  
}

#conflict-outcome{
  margin-top: 50px;
  font-size: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 20px;
  text-align: left;
  font-size: 13px;
}

#conflict-fatality{
  margin-top: 10px;
  font-size: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 20px;
  text-align: left;
  font-size: 13px;
}

#conflict-hostility{
  margin-top: 10px;
  font-size: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 20px;
  text-align: left;
  font-size: 13px;
}

h6{
  color: gray;
  font-weight: 600;
  display: inline-block;
  width: 150px;
}


#library_description{
  width:50%;
  margin:auto;
  padding-bottom:30px;
  font-size:15px;
}
#form-err{
	color: #F44;
	font-size: 12px;
}

#library-conflicts{
	margin-top: 50px;
	margin-bottom: 75px;
	font-size: 14px;
	border-top: 2px solid black;
}

.library-conflict{
	width: 600px;
	height: 50px;
	background-color: #FEE;
	vertical-align: bottom;
	padding: 2px;
	margin-left: 20px;
	margin-bottom: 20px;
	border: 1px solid grey;
	display: block;
}

.library-conflict-name{
	display: inline-block;
	text-align: left;
	width: 300px;
}

.library-conflict-years{
	display: inline-block;
	text-align: left;
	width: 175px;
}

#library-title{
	font-weight: 600;
	font-size: 20px;
	padding: 10px;
	margin-bottom: 50px;
	border-bottom: 2px solid black;
}

#library-options{
	margin-top: 50px;
	padding: 10px;
	border-top: 2px solid black;
}


/* Libraries */


.lib{/*curr*/
  margin:10px;
  text-align:left;
  display:block;
  position:relative;
  margin:10px 20px;
  background-color:#8a1517;
  font-size:16px;
}

.name{
  font-size:20px;
  color:white;
  font-family:"Armata",sans-serif;
  padding:20px;


}

.date_modified{
  position:absolute;
  right:0px;
  top:0px;
  padding:20px;
  opacity: .6;
  color:white;
  font-family:"Geo",sans-serif;
}

.extra_info{
  display: none;
  padding-top:15px;
  height:200px;
  text-align:center;
  background-color:white;

}

.extra_info h1{
  opacity:0.4;  
  font-size:15px;
}

.description{
  padding-left:10px;
  position:absolute;
  text-align:left;
  width:33%;
  height:200px; 
  overflow-y:auto;
  z-index:3;
}



.date_started,.date_ended{
  font-size: 50px;
  padding-bottom:15px;
} 

.dates{
  position:absolute;
  width:33%;
  left:33%;
  z-index:2;
}


.buttons{
  position:absolute;
  width:33%;
  left:66%;
  z-index:1;
}


.view_lib,.download_json{
  padding:15px;
  display:block;
  font-size:12px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  margin-top:15px;
  width:100px;
  background-color:#8a1f17;
  font-family:"Armata",sans-serif;
  text-decoration:none;

}

a .button,a:visited,a:link{
  text-decoration:none;
  color:white;

} 
